name: Test e2e Deploy to WP Engine
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  run_action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: GitHub Action Deploy to WP Engine
        uses: ./
        with:
          # Deploy vars
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: apmdomino
          # Deploy Options
          SRC_PATH: "tests/data/plugins/test-plugin"
          REMOTE_PATH: "wp-content/plugins/"
          PHP_LINT: false
          FLAGS: -azvr --inplace --delete --exclude=".*"
          CACHE_CLEAR: true
  #     - name: Fetch deploy results
  #       id: fetchResult
  #       uses: fjogeleit/http-request-action@v1
  #       with:
  #         url: "https://apmdomino.wpengine.com/wp-content/plugins/test-plugin/status.json"
  #     - name: Validate deploy results
  #       run: |
  #         [ ${{ fromJson(steps.fetchResult.outputs.response).status }} = "success" ] || exit 1
  # notify:
  #   runs-on: ubuntu-latest
  #   if: ${{ !cancelled() }}
  #   needs: run_action
  #   steps:
  #     - name: Notify slack on failure
  #       if: needs.run_action.result == 'failure' && github.ref == 'refs/heads/main'
  #       run: |
  #         echo "Job failed. Notifying slack channel."
      
